.reg-step1{
  .input-block{
    margin-bottom: 12px;
    width: 80%;
    .item-input{
      padding: 5px 0 6px 12px;
      margin-bottom: -1px;
    }
  }
  .item-input{
    width: 80%;
    margin-bottom: 12px;
  }

  .img-wrap {
    p {
      margin-bottom: 7%;
    }
  }
}