<ion-view class="add-phone">
    <ion-content>
        <div class="item-block-top registration-item">
            <div class="item-block-top-logo">
                 <img src="content/img/logos.png">
            </div>
            <div class="img-wrap">
                <p>{{vm.content.val3}}</p>
                <div class="img-outer">
                    <img src="content/img/border.svg">
                </div>
            </div>
            <div class="item-block-top-background-image"></div>
        </div>
        <div class="item-block-content">
            <div class="block-content">
                <div class="input-block">
                    <button class="button select-button" ng-click="vm.getSelectCode()">
                        {{vm.select_code}}
                    </button>
                    <label class="item item-input">
                        <input type="number" placeholder="Enter your phone number"
                               ng-model="vm.phone" input-change-color="#000" ng-keyup="vm.checkKey($event)">
                    </label>
                </div>
                <p>{{vm.content.val1}}</p>
                <button class="send-button" ng-click="vm.send()">{{vm.content.valBtn}}</button>
            </div>
        </div>
    </ion-content>
</ion-view>