.patient-item {

  &__body {
    padding: 5vw 5vw 2px 5vw;
  }

  &__photo {
    text-align: center;
    img {
      width: 6vw;
    }
  }

  &--alarm {
    border-bottom: 2px solid $first-color;
  }
  &__date {
    color: $second-color;
    font-size: 0.7rem;
  }
  i {
    color: $first-color;
  }
}