.code-select{
  background: white;
  .header-simple {
    background: $role-btn-border;
    height: 25vw;
  }

  .title-popup {
    text-align: center;
    padding-top: 6vw;
    font-weight: bold;
  }

  .list .item {
    border-color: $role-btn-border;
  }
  .search-block{
    padding: 16px;
    position: absolute;
    bottom: -7vw;
    width: 100%;
    height: 50px;
    display: flex;
    z-index: 999;
    input {
      background: none;
    }
    .search-btn {
      border: none;
      background: none;
      top: auto;
      bottom: 0;
    }
    img{
      width: 22px;
    }

    .popup {
      width: 78% !important;
    }
  }
  ion-item{
    display: flex;
    justify-content: space-between;
  }
}
