<ion-view>
    <ion-pane class="my-patient">
        <div class="header-simple">
            <div class="header-simple__title">
                My patient
            </div>
            <button class="button back-btn" ng-click="vm.back()">
                <!--<i class="icon ion-ios-arrow-thin-left"></i>-->
                <img src="content/img/back.png" alt="">
            </button>
            <div class="header-simple__border">
                <img src="content/img/border.svg">
            </div>
        </div>
        <ion-content class="my-patient__main">
            <div class="my-patient__content">
                <div></div>
            </div>
        </ion-content>

    </ion-pane>
</ion-view>