.my-patient {
  background-color: $second-color-light;

  &__main {
    margin-top: 20vh;
    background-color: $background-color;
  }
  &__content {
    background-color: $background-color;
    font-size: 0.9rem;
    padding: 0 5% 5% 5%;
  }

  &__text {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: $role-btn-text;
    padding: 9vw 6vw 9vw;
  }
}