<ion-view>
    <ion-pane class="my-patient">
        <div class="header-simple">
            <div class="header-simple__title">
                My patient
            </div>
            <div class="header-simple__border">
                <img src="content/img/border.svg">
            </div>
        </div>
        <ion-content class="my-patient__main">
            <div class="my-patient__content">
                <div class="my-patient__text">
                    Insert you patient number to get all<br>
                        the information about him
                </div>
                <div class="block-content">
                    <div class="input-block">
                        <button class="button select-button" ng-click="vm.getSelectCode()">
                            {{vm.select_code}}
                        </button>
                        <label class="item item-input">
                            <input type="number" placeholder="Enter your phone number"
                                   ng-model="vm.phone" input-change-color="#000">
                        </label>
                    </div>
                    <p>{{vm.content.val1}}</p>
                    <button class="send-button" ng-click="vm.send()">Submit</button>
                </div>
            </div>
        </ion-content>

    </ion-pane>
</ion-view>