<div class="help-item">
    <div ng-if="!hiType || hiType  === 'simple' " class="row help-item-wrap">
        <div class="col-33 distance-block">
            <img src="content/img/gray-marker.png" alt="">
            <span>{{(hiDistance + ' km')}}</span>
        </div>
        <div class="col-33 doctor-block">
            <div>{{hiDoctor.name}}</div>
            <a ng-click="hiDoctor.id && vm.getInfo(hiDoctor.id)">Get info</a>
        </div>
        <div class="col-33 rating-block">
            <star-rating sr-count="5"
                         sr-model="hiRating"
                         sr-size="12px"
                         sr-color="#ffc600"></star-rating>
            <div class="price-block">price: <span>{{(hiPrice || 0)}} {{(hiCurrency|currency_by_id)}}</span></div>
        </div>
    </div>

    <div ng-if="hiType === 'detail'">
        <div class="row detail-wrap">
            <div class="col-75 name-block">
                {{hiDoctor.name}}
            </div>
            <div class="col-25 rating-block">
                <star-rating sr-count="5"
                             sr-model="hiRating"
                             sr-size="12px"
                             sr-color="#ffc600">
                </star-rating>
            </div>
        </div>
        <div class="row detail-wrap">
            <div class="col-75 adress-block">
                <p>{{hiAddress}}</p>
            </div>
            <div class="col-25 time-block">
                <img src="content/img/walk-icon.png" alt="">
                <span>{{hiTime}}</span>
            </div>
        </div>
        <div class="row detail-wrap">
            <div class="col-75 price-block">
                price: <span>{{( hiPrice || 0)}} {{(hiCurrency|currency_by_id)}}</span>
            </div>
            <div class="col-25 help-item__get-info">
                <a ng-click="hiDoctor.id && vm.getInfo(hiDoctor.id)">Get info</a>
            </div>
        </div>
    </div>
</div>