<ion-view cache-view="false" class="" view-title="ff" >
    <ion-tabs class="tabs-stable tabs-icon-bottom tabs-custom">
       <ion-tab title="Help" ui-sref='tabs.help'>
           <ion-nav-view name="help-tab"></ion-nav-view>
       </ion-tab>
       <ion-tab title="Profile" ui-sref='tabs.profile'>
           <ion-nav-view name="profile-tab"></ion-nav-view>
       </ion-tab>
       <ion-tab title="History" ui-sref='tabs.history'>
           <ion-nav-view name="history-tab"></ion-nav-view>
       </ion-tab>
        <ion-tab title="" icon-on="ion-more" ng-click="vm.openSideMenu()" icon-off="ion-more">
        </ion-tab>
    </ion-tabs>
</ion-view>
