<ion-view>
    <ion-pane class="history-patients">
        <div class="header-simple">
            <div class="header-simple__title">
                History
                <div class="history-patients__title">
                    My patients
                </div>
            </div>
            <button class="button back-btn" ui-sref="tabs.history-emergencies">
                <!--<i class="icon ion-ios-arrow-thin-left"></i>-->
                <img src="content/img/emergencies-icon.png" alt="">
            </button>
            <div class="header-simple__border">
                <img src="content/img/border.svg">
            </div>
        </div>
        <ion-content class="history-patients__main">
            <div class="history-patients__content">
                <div ng-if="!vm.historyItems.length" class="history-patients__empty">
                    List is empty
                </div>
                <ion-list ng-if="vm.historyItems.length">
                    <!--<ion-item ng-repeat="item in vm.historyItems track by item.id">-->
                    <!--<patient-item>-->
                    <!--</patient-item>-->
                    <!--</ion-item>-->
                </ion-list>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>