<ion-view>
    <ion-pane class="history-emergencies">
        <div class="header-simple">
            <div class="header-simple__title">
                History
                <div class="history-emergencies__title">
                    Emergencies
                </div>
            </div>
            <button class="button back-btn" ng-click="vm.back()">
                <!--<i class="icon ion-ios-arrow-thin-left"></i>-->
                <img src="content/img/back.png" alt="">
            </button>
            <div class="header-simple__border">
                <img src="content/img/border.svg">
            </div>
        </div>
        <ion-content class="history-view__main">
            <div class="history-view__content">

            </div>
        </ion-content>

        <ion-list>
            <!--<ion-item ng-repeat="item in vm.historyItems track by item.id">-->
                <!--<patient-item-->
                 <!---->
                <!--&gt;</patient-item>-->
            <!--</ion-item>-->
            <patient-item
                    pi-country="'Israel'"
                    pi-date="'12 04 2043'"
                    pi-doctor="'Dr House'"
                    pi-patient="'house Patient'"
                    pi-alarm="true">
            </patient-item>
            <patient-item
                    pi-country="'Israel'"
                    pi-date="'12 04 2043'"
                    pi-doctor="'Dr House'"
                    pi-patient="'house Patient'"
                    pi-alarm="true">
            </patient-item>
            <patient-item
                    pi-country="'Israel'"
                    pi-date="'12 04 2043'"
                    pi-doctor="'Dr House'"
                    pi-patient="'house Patient'"
                    pi-alarm="false">
            </patient-item>
            <patient-item
                    pi-country="'Israel'"
                    pi-date="'12 04 2043'"
                    pi-doctor="'Dr House'"
                    pi-patient="'house Patient'"
                    pi-alarm="false">
            </patient-item>
            <patient-item
                    pi-country="'Israel'"
                    pi-date="'12 04 2043'"
                    pi-doctor="'Dr House'"
                    pi-patient="'house Patient'"
                    pi-alarm="false">
            </patient-item>
        </ion-list>
    </ion-pane>
</ion-view>