<ion-view>
    <ion-pane class="history-emergencies">
        <div class="header-simple">
            <div class="header-simple__title">
                {{::'CONTENT.TEXT_HISTORY_TITLE' | translate}}
                <div class="history-emergencies__title">
                    {{::'CONTENT.TEXT_EMERGENCIES' | translate}}
                </div>
            </div>
            <button class="button back-btn" ui-sref="tabs.history-patients">
                <!--<i class="icon ion-ios-arrow-thin-left"></i>-->
                <img src="content/img/patients-icon.png" alt="">
            </button>
            <div class="header-simple__border">
                <img src="content/img/border.svg">
            </div>
        </div>
        <ion-content class="history-emergencies__main">
            <div class="history-emergencies__content">
                <div ng-if="!vm.historyItems.length" class="history-emergencies__empty">
                    {{::'CONTENT.TEXT_LIST_IS_EMPTY' | translate}}
                </div>
                <ion-list ng-if="vm.historyItems && vm.historyItems.length">
                    <ion-item ng-repeat="item in vm.historyItems track by $index">
                        <patient-item
                                pi-item="item"
                                pi-alarm="false"
                                pi-doctor=""
                                pi-country="item.country"
                                pi-patient="(item.patient_name + ' '+ item.patient_lastname)"
                                pi-date="item.created_at">
                        </patient-item>
                    </ion-item>
                </ion-list>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>