
.background-image{
  height: 100%;
  background: url(../../content/img/5714520-sky-images.png) no-repeat;
  background-size: 100% 70%;
  position: relative;
  opacity: 0.5;
}
.scroll{
  height: 100%;
}
.item-block-top{
  height: 40%;
  width: 100%;
  background: #2c304b;
  position: relative;

  .img-wrap {
    position: absolute;
    bottom: -2px;
    z-index: 9;
    display: block;
    width: 102%;
    transform: translateX(-50%);
    left: 50%;

    img {
      display: block; width: 102%;
    }

    p {
      text-align: center;
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      line-height: 42.67px;
      letter-spacing: -0.1px;
      word-spacing: 1px;
    }
  }
}
.item-block-top:after {
  content: '';
  width: 100%;
  height: 100%;
  background: url(../../content/img/item-top-sky-images.png) no-repeat;
  background-size: 100%;
  position: absolute;
  opacity: .35;
  top: 0;
}
.item-block-top-logo {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  top: 26%;
  transform: translateY(-50%);
}
/*.item-block-top-logo p{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 42.67px;
  letter-spacing: -0.1px;
  word-spacing: 1px;
  padding-top: 20px;
}*/
.item-block-top-logo img {
  width: 40%;
  -webkit-user-drag: none;
}
.item-block-content {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 33%;
}

/*.item-block-content:after {
  content: '';
  background: url(../../content/img/border.svg) no-repeat;
  width: 100%;
  height: 20%;
  position: absolute;
  top: 0;
}*/
.block-content{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9%;
  z-index: 9;
  p {
    padding-top: 12px;
    font-size: 16px;
  }
  .send-button {
    width: 35%;
    height: 48px;
    background-color: #d30041;
    color: white;
    margin-top: 15px;
    border: none;
  }
  .item-input{
    width:250px;
  }
}

// input
.input-block{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  input {
    padding:0;
    font-size:12.5px;
  }
  .select-button{
    width: 70px;
    border-color: #ddd;
    border-radius: 0;
    color: #959393c4;
    font-size: 12.5px;
  }
  .item-input{
    padding: 5px 0 6px 12px;
    width: 170px;
  }
  .button:hover{
    background-color: transparent;
  }
  .button.activated, .button:active{
     background-color: transparent;
   }
}
.text-center{
  text-align: center;
}

.header-simple {
  position:relative;
  height:20vh;
  &__title {
    position: absolute;
    display: inline-block;
    text-transform: uppercase;
    color: $text-white-color;
    transform: translate(-50%, 0);
    top:25%;
    left:50%;
    font-size: 0.8rem;
  }
  button {
    position:absolute;
    right: 5%;
    top:15%;
  }
  &__border {
    position:absolute;
    right:0;
    bottom:-2px;
    height:50%;
    display: block;
    width: 102%;
    transform: translateX(-50%);
    left: 50%;
    img {
      width: 100%;
      height: 100%;
      display:block;
    }
  }
}

.back-btn {
  border: 2px solid $second-color-light;
  border-radius: 50%;
  i {
    color: $second-color-light;
    font-size:2rem;
    width:2rem;
  }
}