//colors
$background-color: #FFF;
$first-color: #D20340;
$second-color: #7988A2;
$second-color-light: #B1C0DA;
$second-color-dark: #7D8BA5;
$second-color-dark2: #C2CDE1;
$text-accent-color: #eda1b7;
$text-default-color: #000;
$text-gray-color: #8895AC;
$text-white-color: #fff;
$star-color: #FEC515;
$active-color: #B6BFCC;
$inactive-color: #EBEFF6;
$tab-border: #C1CDE1;

