<div class="treatment-item">
    <div class="row">
        <div class="col-40 col-bottom text-align-left">
            <div ng-if='tiDate' class="treatment-item__date">{{::tiDate}}</div>
            <div ng-if='tiCountry' class="treatment-item__country">{{::tiCountry}}</div>
            <div ng-if='tiDentist' class="treatment-item__dentist">{{::tiDentist}}</div>
        </div>
        <div class="col-20 col-bottom text-center">
            <!--<img src="icon">-->
            <div class="treatment-item__photo"
                 ng-class="{'treatment-item__photo--disabled':!tiIsFiles}">
                <img src="content/img/add-doc-icon.png" ng-click="vm.openPopupList()">
            </div>
        </div>
        <div class="col-40 col-bottom text-align-right">
            <div ng-if="tiPrice && !tiNeedReview" class="treatment-item__price">{{::tiPrice+'$'}}</div>
            <a ng-if="tiNeedReview" class="treatment-item__review"
               ng-click="tiReview && tiReview()">Give a review</a>

            <div ng-if="!tiIsNotified" class="treatment-item__notify"
                 ng-click="tiNotify && tiCanNotify && tiNotify()"
                 ng-class="{'treatment-item__notify--disabled':!tiCanNotify}">
                Notify H.D.
            </div>

            <div ng-if="tiIsNotified" class="treatment-item--notified">H.D notified</div>
        </div>
    </div>
</div>