<ion-view>
    <ion-pane class="privacy-view">
        <div class="header-simple">
            <div class="header-simple__title">
                privacy policy
            </div>
            <button class="button back-btn" ng-click="vm.back()">
                <i class="icon ion-ios-arrow-thin-left"></i>
            </button>
            <div class="header-simple__border">
                <img src="content/img/border.svg">
            </div>
        </div>
        <ion-content class="privacy-view__main">
            <div class="privacy-view__content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci aperiam aspernatur aut autem commodi consectetur
                consequuntur delectus dolores, doloribus et expedita facere
                id ipsam libero modi nam neque nostrum officiis?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci aperiam aspernatur aut autem commodi consectetur
                consequuntur delectus dolores, doloribus et expedita facere
                id ipsam libero modi nam neque nostrum officiis?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci aperiam aspernatur aut autem commodi consectetur
                consequuntur delectus dolores, doloribus et expedita facere
                id ipsam libero modi nam neque nostrum officiis?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci aperiam aspernatur aut autem commodi consectetur
                consequuntur delectus dolores, doloribus et expedita facere
                id ipsam libero modi nam neque nostrum officiis?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci aperiam aspernatur aut autem commodi consectetur
                consequuntur delectus dolores, doloribus et expedita facere
                id ipsam libero modi nam neque nostrum officiis?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci aperiam aspernatur aut autem commodi consectetur
                consequuntur delectus dolores, doloribus et expedita facere
                id ipsam libero modi nam neque nostrum officiis?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci aperiam aspernatur aut autem commodi consectetur
                consequuntur delectus dolores, doloribus et expedita facere
                id ipsam libero modi nam neque nostrum officiis?
                Adipisci aperiam aspernatur aut autem commodi consectetur
                consequuntur delectus dolores, doloribus et expedita facere
                id ipsam libero modi nam neque nostrum officiis?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci aperiam aspernatur aut autem commodi consectetur
                consequuntur delectus dolores, doloribus et expedita facere
                id ipsam libero modi nam neque nostrum officiis?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci aperiam aspernatur aut autem commodi consectetur
                consequuntur delectus dolores, doloribus et expedita facere
                id ipsam libero modi nam neque nostrum officiis?
                Adipisci aperiam aspernatur aut autem commodi consectetur
                consequuntur delectus dolores, doloribus et expedita facere
                id ipsam libero modi nam neque nostrum officiis?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci aperiam aspernatur aut autem commodi consectetur
                consequuntur delectus dolores, doloribus et expedita facere
                id ipsam libero modi nam neque nostrum officiis?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci aperiam aspernatur aut autem commodi consectetur
                consequuntur delectus dolores, doloribus et expedita facere
                id ipsam libero modi nam neque nostrum officiis?
            </div>
        </ion-content>

    </ion-pane>
</ion-view>