<ion-view>
    <ion-pane class="privacy-view">
        <div class="header-simple">
            <div class="header-simple__title">
                {{::'CONTENT.TEXT_PRIVACY_POLICY_TITLE' | translate}}
            </div>
            <button class="button back-btn" ng-click="vm.back()">
                <!--<i class="icon ion-ios-arrow-thin-left"></i>-->
                <img src="content/img/back.png" alt="">
            </button>
            <div class="header-simple__border">
                <img src="content/img/border.svg">
            </div>
        </div>
        <ion-content class="privacy-view__main">
            <div class="privacy-view__content">
                <ng-bind-html ng-bind-html="vm.text_privacy">
                </ng-bind-html>
            </div>
        </ion-content>

    </ion-pane>
</ion-view>