<ion-view class="add-specialities">
    <ion-content>
        <div class="item-block-top">
            <div class="img-wrap">
                <p>Let us know you</p>
                <img src="content/img/border.svg">
            </div>
        </div>
        <div class="item-block-content">
            <div class="block-content">
                <div class="input-block">
                    <button class="button select-button" ng-click="vm.selectNumberCode()">
                        380
                    </button>
                    <label class="item item-input">
                        <input type="number" placeholder="Clinic phone number" ng-model="vm.phone">
                    </label>
                </div>
                <label class="item item-input">
                    <input class="text-center" type="text" placeholder="Clinic name" ng-model="vm.user.lastName">
                </label>
                <button class="send-button" ng-click="vm.next()">Done</button>
            </div>
        </div>
    </ion-content>
</ion-view>