<ion-view class="add-specialities">
    <ion-content>
        <div class="item-block-top">
            <div layout="row" layout-align="space-around end" class="steps-wrap">
                <div class="steps-item"><span>1</span></div>
                <div class="steps-item"><span>2</span></div>
                <div class="steps-item active-step"><span>3</span></div>
            </div>
            <div class="img-wrap">
                <p>Let us know you</p>
                <div class="img-outer">
                    <img src="content/img/border.svg">
                </div>
            </div>
        </div>
        <div class="item-block-content">
            <div class="block-content">
                <button class="gray-btn">Edit spesialties</button>
                <textarea name="" id="specialities-textarea"></textarea>
                <button class="send-button" ng-click="vm.next()">Done</button>
            </div>
        </div>
    </ion-content>
</ion-view>