.add-specialities{
    .description {
      position: relative;
      width: 80%;
      textarea {
        width:100%;
        border: 1px solid $input-border;
        display: block;
      }
      span {
        position: absolute;
        bottom: 1%;
        right: 1%;
        color: $text-gray-color
      }
    }
    .gray-btn {
      height: 10vw;
      &:before {
        background-image: url(../img/redcross-icon.png);
      }
    }
  .selected-counter {
    margin-top: -5%;
  }
    .select-price-block{
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      width: 80%;
      .input-price {
        font-family: 'Microsoft JhengHei', sans-serif;
        font-weight: 300;
        border-bottom: 1px solid $input-border;
        width: 50%;
        font-size: 14px;
        color: $input-text;
        height: 25px;
        text-align: center;
        &::-webkit-input-placeholder {
          color: $input-text;
        }
      }
      .select-currency {
        font-family: 'Microsoft JhengHei', sans-serif;
        font-weight: 300;
        background: 0 0;
        font-size: 14px;
        border: 1px solid #94a4c0;
        color: #76869f;
        border-radius: 17vh;
        width: 45%;
        height: 7vw;
      }
    }
}