<ion-view class="add-specialities">
    <ion-content>
        <div class="item-block-top">
            <div layout="row" layout-align="space-around end" class="steps-wrap">
                <div class="steps-item"><span>1</span></div>
                <div class="steps-item"><span>2</span></div>
                <div class="steps-item active-step"><span>3</span></div>
            </div>
            <div class="img-wrap">
                <p>Let us know you</p>
                <div class="img-outer">
                    <img src="content/img/border.svg">
                    <div class="top-icon">
                        <img src="content/img/add-photo-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="item-block-content">
            <div class="block-content">
                <div class="select-price-block">
                    <input type="number" class="input-price" placeholder="Emergency price" ng-model="vm.price">
                    <button type="button" class="select-currency" ng-click="vm.getSelectCurrency()">{{vm.select_currency.name}}</button>
                </div>
                 <button class="gray-btn" ng-click="vm.getSpeciality()">Edit specialties</button>
                <p ng-if="vm.len_spec" class="selected-counter">{{vm.len_spec}} selected</p>
                <div class="description">
                     <textarea rows="4" ng-model="vm.description" maxlength="250"></textarea>
                     <span>{{(vm.description.length ? vm.description.length: 0)+'/'+250 }}</span>
                </div>
                <button class="send-button" ng-click="vm.send()">Done</button>
            </div>
        </div>
    </ion-content>
</ion-view>