<ion-view>
    <ion-pane class="about-view">
        <div class="header-simple">
            <div class="header-simple__title">
                About us
            </div>
            <button class="button back-btn" ng-click="vm.back()">
                <!--<i class="icon ion-ios-arrow-thin-left"></i>-->
                <img src="content/img/back.png" alt="">
            </button>
            <div class="header-simple__border">
                <img src="content/img/border.svg">
            </div>
        </div>
        <ion-content class="about-view__main">
            <div class="about-view__content">
                {{vm.text_about}}
            </div>
        </ion-content>

    </ion-pane>
</ion-view>