.review-item {
  .date-rating-wrap{
    padding: 0;

    .date-block {
      color: $filters-color;
      font-size: .8rem;
    }
    .rating-block {
      text-align: right;
    }
  }
  .name-block {
    color: $text-default-color;
    padding-bottom: 0;
    font-family: 'Microsoft JhengHei', sans-serif;
  }
  .text-block {
    white-space: normal;
    padding-bottom: 7px;
    font-weight: 300;
    font-size: 14px;
  }
}
