<div class="select-currency">
    <ion-pane>
        <div class="header-simple">
            <div class="title-popup">{{::'CONTENT.TEXT_SELECT_CURRENCY' | translate}}</div>
            <div class="search-block">
                <input type="search" placeholder="{{::'CONTENT.PLACEHOLDER_SEARCH' | translate}}" ng-model="name">
                <button name="search" class="search-btn">
                    <img src="content/img/search.png" alt="">
                </button>
            </div>
            <div class="header-simple__border">
                <img src="content/img/border.svg">
            </div>
        </div>
        <ion-content class="popup-content">
            <ion-list>
                <ion-item ng-repeat="currency in vm.currencies | filter : name" ng-click="vm.selectCurrency(currency);">
                    <span>{{currency.name}}</span>
                    <!--<span>{{currency.title}}</span>-->
                    <span>{{currency.abr}}</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-pane>
</div>