.location {
  text-align: left;
  img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 35px;
    left: 5px;
  };

    md-autocomplete md-autocomplete-wrap md-progress-linear {
      display: none !important;
    }

  md-autocomplete[md-floating-label] {
    background-color: white;
    md-autocomplete-wrap{
      box-shadow: none;
    }
  }

  md-autocomplete input:not(.md-input) {
    width: 100%;
    padding: 5px;
  }
  label {
    margin-right: 10px;
    display: block;
    color: white;
    text-align: right;
  }
   .md-show-clear-button button {
     display: none !important;
   }
}