<ion-view>
    <ion-pane class="patient-profile">
        <div class="header-simple">
            <div class="header-simple__title">
                My profile
            </div>
            <div class="header-simple__subtitle">
                {{vm.user.name + ' '+ vm.user.lastname}}
            </div>
            <button class="header-simple__right-btn header-simple__btn"
                    ng-click="vm.logout()">
                <img src="content/img/logout-icon.png" alt="">
            </button>
            <button class="header-simple__left-btn header-simple__btn" ng-click="vm.editPatient()">
                <img src="content/img/edit-profile-icon.png" alt="">
            </button>
            <div class="header-simple__border">
                <img src="content/img/border.svg">
            </div>
            <div class="patient-profile__home-dentist text-center">
                home dentist
            </div>
        </div>
        <ion-content class="patient-profile__main">
            <div class="patient-profile__content">
                <div class="patient-profile__address" ng-if="vm.pat_den_binding">
                     {{vm.user.clinic.address}}
                    <span><a ng-click="vm.editDentistPhone()">Change</a></span>
                </div>
                <button class="gray-btn invite-dentist-btn" ng-if="!vm.pat_den_binding">Invite your dentist</button>
                <div class="patient-profile__items">
                    <!--<i class="icon ion-document"></i>-->
                    <img src="content/img/doc-icon.png" alt="">
                    <ul>
                        <li ui-sref="about">About</li>
                        <li ui-sref="terms">Term of use</li>
                        <li ui-sref="privacy">Privacy policy</li>
                    </ul>
                </div>
                <button class="gray-btn become-dentist-btn">Become a dentist</button>
                <button class="button share-btn" ng-click="vm.share()">
                    <img src="content/img/share-icon.png" alt="">
                </button>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>