<ion-view>
    <ion-pane class="support-view">
        <div class="header-simple">
            <div class="header-simple__title">
              Support
            </div>
            <button class="button back-btn" ng-click="vm.back()">
                <!--<i class="icon ion-ios-arrow-thin-left"></i>-->
                <img src="content/img/back.png" alt="">
            </button>
            <div class="header-simple__border">
                <img src="content/img/border.svg">
            </div>
        </div>
        <ion-content class="support-view__main">
            <div class="support-view__content">
                <p>You can tell us an error or suggest your idea.</p>
                <div class="item-block-content">
                    <form class="block-content">
                        <p>Your email</p>
                        <label class="item item-input">
                            <input class="text-center" type="text" placeholder="Email" ng-model="vm.user.email" input-change-color="#000">
                        </label>
                        <div class="description">
                            <textarea rows="4" ng-model="vm.message" maxlength="250" placeholder="Describe your problem or idea"></textarea>
                        </div>
                        <button class="send-button" ng-click="vm.send()">Send</button>
                    </form>
                </div>
            </div>
        </ion-content>

    </ion-pane>
</ion-view>