<ion-view>
    <ion-pane class="my-treatments-view">
        <div class="header-simple">
            <div class="header-simple__title">
                my treatments
            </div>
            <button class="button back-btn" ng-click="vm.back()">
                <i class="icon ion-ios-arrow-thin-left"></i>
            </button>
            <div class="header-simple__border">
                <img src="content/img/border.svg">
            </div>
        </div>
        <ion-content class="my-treatments-view__main">
            <div class="my-treatments-view__content">
            </div>
        </ion-content>

    </ion-pane>
</ion-view>