<div class="select-subscript">
    <div class="header-simple">
        <div class="title-popup">Select your <br>
            <span class="span-font-weight">subscription</span></div>
        <div class="price-block">
            <img src="content/img/price-icon.png" alt="">
        </div>
        <div class="header-simple__border">
            <img src="content/img/border.svg">
        </div>
    </div>
    <div class="subscript-btn-block">
        <div class="text-center" ng-if="!productItems || !productItems.length">
            List is empty
            <span class="subscript__logout"><a ng-click="close()">Logout</a></span>
        </div>
        <button ng-click="selectPlan(item)" layout="row" layout-align="space-around center" class="gray-btn"
            ng-repeat="item in productItems track by $index">
            <img src="content/img/redcross-icon.png" alt="">
            <span class="subscript-btn-text">{{item.title}}</span>
            <span class="price-item">{{item.price + ' ' + item.currency}}</span>
        </button>
    </div>
</div>