<ion-view>
    <ion-pane class="history-view">
        <div class="header-simple">
            <div class="header-simple__title">
                History
            </div>
            <button class="button back-btn" ng-click="vm.back()">
                <img src="content/img/back.png" alt="">
            </button>
            <div class="header-simple__border">
                <img src="content/img/border.svg">
            </div>
        </div>
        <ion-content class="history-view__main">
            <div class="history-view__content">
                <div ng-if="!vm.historyItems.length" class="history-view__empty">
                    List is empty
                </div>
                <ion-list ng-if="vm.historyItems.length">
                    <ion-item ng-repeat="item in vm.historyItems track by item.id">
                        <treatment-item
                                ti-item="item"
                                ti-price="item.review && item.review.price? item.review.price: null"
                                ti-notify="vm.notify(item)"
                                ti-is-files="item.emergency_photos && item.emergency_photos.length"
                                ti-is-notified="!!item.status"
                                ti-can-notify="item.emergency_photos.length && item.review"
                                ti-need-review="!item.review"
                                ti-files="item.emergency_photos"
                                ti-review="vm.goReview(item)"
                                ti-country="item.country"
                                ti-date="item.created_at"
                                ti-have-home-doctor="true"
                                ti-currency="item.review.currency_id"
                                ti-dentist="{{item.dentist_name}}"></treatment-item>
                    </ion-item>
                </ion-list>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>