<ion-view id="view">
    <ion-pane ng-click="vm.shangeScreen()">
    <div class="object title-block">
        <img src="content/img/vector-smart-object.png">
        <p>Welcome aboard</p>
    </div>
    <div class="object background-empty">
        <div class="obj"></div>
        <div class="background-image"></div>
        <ion-content overflow-scroll="true">
        <div class="block-text">
            <pre class="text" ng-if="vm.change_view">
                {{vm.text_view}}
            </pre>
        </div>
        </ion-content>
    </div>
    </ion-pane>
</ion-view>
