<ion-view id="select-role">
    <ion-content>
        <div class="item-block-top">
            <div class="item-block-top-background-image"></div>
            <div class="item-block-top-logo">
                <img src="img/vector-smart-object.png">
                <p>{{vm.item.val3}}</p>
            </div>
        </div>
        <div class="item-block-content">
            <div class="form-item-block-content"></div>
            <div class="block-content">
                <button  ng-click="vm.select(0)">{{vm.item.role1}}</button>
                <button  ng-click="vm.select(1)">{{vm.item.role2}}</button>
            </div>
        </div>
    </ion-content>
</ion-view>