<ion-view class="select-role">
    <ion-content>
        <div class="item-block-top">
            <div class="item-block-top-logo">
                <img src="content/img/logos.png">
            </div>
            <div class="img-wrap">
                <p>{{::'CONTENT.TEXT_GET_ME_IN' | translate}}</p>
                <div class="img-outer">
                    <img src="content/img/border.svg">
                </div>
            </div>
            <div class="item-block-top-background-image"></div>
        </div>
        <div class="item-block-content">
            <div class="block-content">
                <button  ng-click="vm.select(0)" class="gray-btn dentist-btn">{{::'CONTENT.TEXT_SELECT_ROLE_DENTIST' | translate}}</button>
                <button  ng-click="vm.select(1)" class="gray-btn patient-btn">{{::'CONTENT.TEXT_SELECT_ROLE_PATIENT' | translate}}</button>
            </div>
        </div>
    </ion-content>
</ion-view>