<ion-view class="add-code">
    <ion-content>
        <div class="item-block-top registration-item">
            <div class="item-block-top-logo">
                <img src="content/img/logos.png">
            </div>
            <div class="img-wrap">
                <p>{{::'CONTENT.TEXT_GET_ME_IN' | translate}}</p>
                <div class="img-outer">
                    <img src="content/img/border.svg">
                </div>
            </div>
            <div class="item-block-top-background-image"></div>
        </div>
        <div class="item-block-content">
            <div class="block-content">
                <label class="item item-input">
                    <input class="text-center" type="number" placeholder="{{::'CONTENT.TEXT_ADD_CODE_PLACEHOLDER' | translate}}"
                           ng-model="vm.code" input-change-color="#000" ng-keyup="vm.checkKey($event)">
                </label>
                <p>{{::'CONTENT.TEXT_ADD_CODE_PARAGRAPH' | translate}}<a ng-click="vm.goAddPhone()">{{::'CONTENT.TEXT_ADD_CODE_CLICK_HERE' | translate}}</a></p>
                <button class="send-button" ng-click="vm.send()">{{::'CONTENT.BTN_SEND' | translate}}</button>
            </div>
        </div>
    </ion-content>
</ion-view>

