<ion-view class="reg-step2" can-swipe-back="false">
    <ion-content>
        <button ng-if="vm.show_back" class="button back-btn" ng-click="vm.back()">
            <!--<i class="icon ion-ios-arrow-thin-left"></i>-->
            <img src="content/img/back.png" alt="">
        </button>
        <div class="overlay-block" ng-if="vm.overlay" ng-click="vm.hideOverlay()">
            <div class="overlay-text">
                <p>Please provide us your home dentist info.</p>
                <p>He will be notified about any visit out of state.</p>
            </div>
        </div>
        <div class="item-block-top">
            <div layout="row" layout-align="space-around end" class="steps-wrap" ng-if="!vm.edit && !vm.c_invite && !vm.invite_for_den">
                <div class="steps-item"><span>1</span></div>
                <div class="steps-item active-step"><span>2</span></div>
            </div>
            <div class="img-wrap">
                <p ng-if="vm.edit">Change dentist</p>
                <p ng-if="!vm.edit && !vm.c_invite && !vm.invite_for_den">Thank you</p>
                <p ng-if="vm.c_invite || vm.invite_for_den">Invite Dentist</p>
                <div class="img-outer">
                    <img src="content/img/border.svg">
                </div>
            </div>
        </div>
        <div class="item-block-content">
            <div class="title-block" ng-if="!vm.edit">
                <p class="add-dentist-phone-title">You are now ready to use!</p>
                <p>Invite your dentist to start using app to be updated withing every medical step you are doing.</p>
            </div>
            <form class="block-content">
                <div class="input-block input-phone">
                    <button class="button select-button" ng-click="vm.getSelectCode()">
                        {{vm.select_code}}
                    </button>
                    <label class="item item-input">
                        <input type="number" placeholder="Enter dentist phone number"
                               ng-model="vm.phone" input-change-color="#000">
                    </label>
                    <button class="phone-icon" ng-click="vm.pickContactUsingNativeUI()">
                        <img src="content/img/phone.png" alt="">
                    </button>
                </div>
                <p ng-if="!vm.edit && !vm.c_invite">Have no dentist <a ng-click="vm.skip()"> skip</a></p>
                <button class="send-button" ng-click="vm.send()">Submit</button>
            </form>
        </div>
    </ion-content>
</ion-view>