.reg-step2 {
  .overlay-block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $text-default-color;
    opacity: 0.8;
    z-index: 99;
    .overlay-text {
      width: 80%;
      margin: auto;
      padding-top: 30%;
      p {
        text-align: center;
        color: $text-white-color;
        font-size: 1.5em;
        line-height: normal;
      }
    }
  }
  .item-block-content {
    top: auto;
     margin-top: 0;
    .title-block {
      /*width: 80%;*/
      margin: auto;
      text-align: center;
      position: relative;
      z-index: 9;
      .add-dentist-phone-title {
        font-size: .8rem;
        color: $input-text;
        text-transform: uppercase;
        font-weight: 700;
      }
      p {
        font-size: 14px;
        color: $text-gray-color2;
        line-height: normal;
        font-weight: 300;
      }
    }
    .block-content {
      .input-phone {
        .item-input {
          width: 66%;
        }
        .phone-icon {
          //width: 14%;
          padding-left: 15px;
        }
      }
    }
  }
}