<ion-view class="add-clinic" can-swipe-back="false">
    <ion-content>
        <div class="item-block-top">
            <div layout="row" layout-align="space-around end" class="steps-wrap">
                <div class="steps-item"><span>1</span></div>
                <div class="steps-item active-step"><span>2</span></div>
                <div class="steps-item"><span>3</span></div>
            </div>
            <div class="img-wrap">
                <p>varus know you</p>
                <div class="img-outer">
                    <img src="content/img/border.svg">
                    <div class="top-icon">
                        <img ng-src="{{vm.user.avatar}}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="item-block-content">
            <div class="block-content">
                <div class="input-block" ng-if="!vm.edit">
                    <button class="button select-button" ng-click="vm.getSelectCode()">
                        {{vm.select_code}}
                    </button>
                    <label class="item item-input">
                        <input type="number" placeholder="Clinic Phone number"
                               ng-model="vm.phone" input-change-color="#000">
                    </label>
                </div>
                <label class="item item-input" ng-if="vm.edit">
                    <input type="text" placeholder="Clinic Phone number"
                           class="text-center" ng-model="vm.clinic.phone" input-change-color="#000">
                </label>
                <div class="add-clinic-block" ng-if="vm.show_clinic || vm.edit">
                    <label class="item item-input" ng-if="!vm.showSelect">
                        <input class="text-center"  type="text" placeholder="Clinic name"
                               ng-model="vm.clinic.name" input-change-color="#000">
                    </label>
                    <select class="text-center select-block" ng-if="vm.listClinic && vm.showSelect" ng-model="vm.select_clinic"
                            ng-change="vm.selectClinic()" ng-value="item" ng-options="item as item.name for item in vm.listClinic track by item.id">
                    </select>
                    <div class="item item-input" ng-click="vm.openMapPopup()">
                        <button class="map-marker">
                            <img src="content/img/marker.png" alt="">
                        </button>
                        <input class="text-center" type="text" placeholder="Clinic Address"
                               ng-model="vm.clinic.address" input-change-color="#000" disabled>
                    </div>
                    <div class="clinic-button-block">
                        <button class="send-button" ng-click="vm.send()">{{vm.btn_text}}</button>
                        <button class="send-button" ng-if="vm.edit" ng-click="vm.newClinic()">New clinic</button>
                    </div>
                </div>
                <button class="send-button" ng-if="!vm.show_clinic && !vm.edit" ng-click="vm.checkClinicPhone()">Next</button>
            </div>
        </div>
    </ion-content>
</ion-view>