<ion-view class="add-clinic">
    <ion-content>
        <div class="item-block-top">
            <div class="img-wrap">
                <p>Let us know you</p>
                <div class="img-outer">
                    <img src="content/img/border.svg">
                </div>
            </div>
        </div>
        <div class="item-block-content">
            <div class="block-content">
                <div class="input-block">
                    <button class="button select-button" ng-click="vm.getSelectCode()">
                        {{vm.select_code}}
                    </button>
                    <label class="item item-input">
                        <input type="number" placeholder="Enter your clinic number" ng-model="vm.phone">
                    </label>
                </div>
                <div class="add-clinic-block" ng-if="vm.show_clinic">
                    <label class="item item-input">
                        <input class="text-center" type="text" placeholder="Clinic name" ng-model="vm.clinic.name">
                    </label>
                    <label class="item item-input">
                        <button class="map-marker">
                            <img src="content/img/marker.png" alt="">
                        </button>
                        <input class="text-center" type="text" placeholder="Clinic Address" ng-model="vm.clinic.address">
                    </label>
                    <button class="send-button" ng-click="vm.send()">Send</button>
                </div>
                <button class="send-button" ng-if="!vm.show_clinic" ng-click="vm.checkClinicPhone()">Next</button>
            </div>
        </div>
    </ion-content>
</ion-view>