<ion-view class="reg-step1" can-swipe-back="false">
    <ion-content>
        <div class="item-block-top">
            <div layout="row" layout-align="space-around end" class="steps-wrap" ng-if="!vm.edit">
                <div class="steps-item active-step"><span>1</span></div>
                <div class="steps-item"><span>2</span></div>
            </div>
            <div class="img-wrap">
                <p ng-if="!vm.edit">Let us know you</p>
                <p ng-if="vm.edit">Edit profile</p>
                <div class="img-outer">
                    <img src="content/img/border.svg">
                </div>
            </div>
        </div>
        <div class="item-block-content">
            <form class="block-content">
                <label class="item item-input">
                    <input class="text-center" type="text" placeholder="First name" ng-model="vm.user.name"
                           maxlength="20" input-change-color="#000">
                </label>
                <label class="item item-input">
                    <input class="text-center" type="text" placeholder="Last name"
                           ng-model="vm.user.lastname" input-change-color="#000">
                </label>
                <label class="item item-input">
                    <input class="text-center" type="email" placeholder="Email"
                           ng-model="vm.user.email" input-change-color="#000">
                </label>
                <button class="send-button" ng-click="vm.send()">Send</button>
            </form>
        </div>
    </ion-content>
</ion-view>