<ion-view class="reg-step1" can-swipe-back="false">
    <ion-content>
        <div class="item-block-top">
            <div layout="row" layout-align="space-around end" class="steps-wrap" ng-if="!vm.edit">
                <div class="steps-item active-step"><span>1</span></div>
                <div class="steps-item"><span>2</span></div>
            </div>
            <div class="img-wrap">
                <p>{{::'CONTENT.TEXT_REGISTRATION_TITLE' | translate}}</p>
                <p ng-if="vm.edit">{{::'CONTENT.TEXT_EDIT_PROFILE' | translate}}</p>
                <div class="img-outer">
                    <img src="content/img/border.svg">
                </div>
            </div>
        </div>
        <div class="item-block-content">
            <form class="block-content">
                <label class="item item-input">
                    <input class="text-center" type="text" placeholder="{{::'CONTENT.PLACEHOLDER_FIRST_NAME' | translate}}" ng-model="vm.user.name"
                           maxlength="20" input-change-color="#000">
                </label>
                <label class="item item-input">
                    <input class="text-center" type="text" placeholder="{{::'CONTENT.PLACEHOLDER_LAST_NAME' | translate}}"
                           ng-model="vm.user.lastname" input-change-color="#000">
                </label>
                <label class="item item-input">
                    <input class="text-center" type="email" placeholder="{{::'CONTENT.PLACEHOLDER_EMAIL' | translate}}"
                           ng-model="vm.user.email" input-change-color="#000">
                </label>
                <button class="send-button" ng-click="vm.send()">{{::'CONTENT.BTN_SEND' | translate}}</button>
            </form>
        </div>
    </ion-content>
</ion-view>