<ion-view>
    <ion-pane class="dentist-profile">
        <div class="dentist-profile-header-wrap">
            <div class="header-simple">
                <div class="header-simple__title">
                    {{vm.profile.name}}
                </div>
                <div class="dentist-profile__rating">
                    <star-rating
                            sr-enable="false"
                            sr-count="5"
                            sr-size="14px"
                            sr-model="4"
                            sr-color="#000">
                    </star-rating>
                </div>
                <div class="header-simple__subtitle">
                    <div class="text-center">{{::vm.country}}</div>
                </div>

                <button class="header-simple__right-btn"
                        ng-click="vm.logout()">
                    <img src="content/img/edit-profile-icon.png" alt="">
                </button>
                <button class="header-simple__left-btn">
                    <img ng-src="{{vm.profile.avatar}}">
                </button>
                <div class="header-simple__border">
                    <img src="content/img/border.svg">
                </div>
                <div class="dentist-profile__number text-center">
                    <img src="content/img/phone-icon.png" alt="">
                    <a href="tel:{{vm.profile.phone}}">{{vm.profile.phone}}</a>
                </div>
            </div>
        </div>
        <div style="position: relative;">
            <div class="dentist-profile__main">
                <div class="dentist-profile__address">
                    {{vm.profile.clinic.address}}
                </div>
                <div class="dentist-profile__navigate" ng-click="vm.changeSizeDescr()">
                    <span>Navigate</span>
                </div>
                <div class="dentist-profile__description"
                     ng-click="vm.isExpandDescr = !vm.isExpandDescr"
                     ng-class="{'dentist-profile--expanded':vm.isExpandDescr}">
                    <p>{{vm.profile.dentist.description}}</p>
                    <div class="dentist-profile-specialities">
                        <div ng-repeat="item in vm.test track by $index" class="dentist-profile-specialities-item">
                            {{item.name}}
                        </div>
                    </div>
                </div>
                <div class="dentist-profile__content">
                    <div class="text-center" style="padding-top:20px; padding-bottom:20px;">REVIEWS</div>
                    <ion-list>
                        <ion-item ng-repeat="item in vm.reviewArr track by $index">
                            <review-item ri-date="item.date"
                                         ri-rating="item.rating"
                                         ri-name="item.name"
                                         ri-text="item.text"></review-item>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </ion-pane>
</ion-view>