<ion-view>
    <ion-pane class="dentist-profile">
        <div class="dentist-profile-header-wrap">
            <div class="header-simple">
                <div class="header-simple__title">
                    <!--{{::vm.profile.name + ' '+ vm.profile.lastname}}-->
                </div>
                <div class="dentist-profile__rating">
                    <star-rating
                            sr-enable="false"
                            sr-count="5"
                            sr-size="14px"
                            sr-model="vm.profile.rating"
                            sr-color="#000">
                    </star-rating>
                </div>
                <div class="header-simple__subtitle">
                    {{::vm.profile.name + ' '+ vm.profile.lastname}}
                    <div class="text-center subtitle-country">{{vm.profile.country}}</div>
                </div>

                <button class="header-simple__right-btn">
                    <img src="content/img/edit-profile-icon.png" alt=""
                         ng-if="!vm.isViewMode" ng-click="vm.editDentist()">
                    <img src="content/img/back.png" alt=""
                         ng-if="vm.isViewMode" ng-click="vm.back()">
                </button>
                <button class="header-simple__left-btn">
                    <img ng-src="{{vm.profile.avatar}}">
                </button>
                <div class="header-simple__border">
                    <img src="content/img/border.svg">
                </div>
                <div class="dentist-profile__number text-center">
                    <img src="content/img/phone-icon.png" alt="">
                    <a href="tel:{{vm.profile.phone}}">{{vm.profile.phone}}</a>
                </div>
            </div>
        </div>
        <div class="dentist-profile__main">
            <div class="dentist-profile__address">
                {{vm.profile.clinic.address}}
            </div>
            <div class="dentist-profile__navigate" ng-if="vm.isViewMode">
                <span ui-sref="tabs.geolocation({clinic_id: vm.profile.clinic.id})">Navigate</span>
            </div>
            <div class="dentist-profile__description"
                 ng-click="vm.isExpandDescr = !vm.isExpandDescr"
                 ng-class="{'dentist-profile--expanded':vm.isExpandDescr}">
                <p>{{vm.profile.dentist.description}}</p>
                <div class="dentist-profile-specialities">
                    <div ng-repeat="item in vm.profile.dentist.specialties track by $index"
                         class="dentist-profile-specialities-item">
                        {{item.name}}
                    </div>
                </div>
            </div>
            <div class="patient-profile__address">
                <div class="dentist-profile__content-title text-center">home dentist</div>
                <button class="gray-btn invite-dentist-btn" ng-if="!vm.isViewMode && !vm.have_den"
                        ng-click='vm.addDentist()'>Invite dentist
                </button>
                <div ng-if="!vm.isViewMode && vm.have_den">
                    <p class="patient-profile__dentist-name">{{vm.home_dentist.name + ' ' + vm.home_dentist.lastname + ','}}</p>
                    <p>{{vm.home_dentist_clinic.address}}</p>
                    <div class="text-center" ng-if="!vm.isViewMode"><a ng-click="vm.editDentistPhone()">Change</a></div>
                </div>
            </div>

            <div class="dentist-profile__content">
                <div class="text-center dentist-profile__content-title">REVIEWS</div>
                <div class="dentist-profile__empty text-center" ng-if="!vm.reviewArr.length">
                    List is empty
                </div>
                <ion-list ng-if="vm.reviewArr.length">
                    <ion-item ng-repeat="item in vm.reviewArr track by $index">
                        <review-item ri-date="item.created_at"
                                     ri-rating="item.rating"
                                     ri-name="item.patient_name + ' ' +patient_lastname"
                                     ri-text="item.description"></review-item>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-pane>
</ion-view>