<div class="edit-spec">
    <div class="item-block-top">
        <div layout="row" layout-align="space-around end" class="steps-wrap">
            <div class="steps-item"><span>1</span></div>
            <div class="steps-item"><span>2</span></div>
            <div class="steps-item active-step"><span>3</span></div>
        </div>
        <div class="img-wrap">
            <p>Aff specialities</p>
            <div class="img-outer">
                <img src="content/img/border.svg">
            </div>
        </div>
    </div>
    <div class="item-block-content">
        <div class="spec-block">
            <p>hello</p>
        </div>
    </div>
</div>