<ion-view>
    <ion-pane class="terms-view">
        <div class="header-simple">
            <div class="header-simple__title">
                terms of use
            </div>
            <button class="button back-btn" ng-click="vm.back()">
                <img src="content/img/back.png" alt="">
            </button>
            <div class="header-simple__border">
                <img src="content/img/border.svg">
            </div>
        </div>
        <ion-content class="terms-view__main">
            <div class="terms-view__content">
                {{vm.text_terms}}
            </div>
        </ion-content>
    </ion-pane>
</ion-view>