<ion-view>
    <ion-pane class="terms-view">
        <div class="header-simple">
            <div class="header-simple__title">
                {{::'CONTENT.TEXT_TERMS_OF_USE_TITLE' | translate}}
            </div>
            <button class="button back-btn" ng-click="vm.back()">
                <img src="content/img/back.png" alt="">
            </button>
            <div class="header-simple__border">
                <img src="content/img/border.svg">
            </div>
        </div>
        <ion-content class="terms-view__main">
            <div class="terms-view__content">
                <ng-bind-html ng-bind-html="vm.text_terms">
                </ng-bind-html>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>