.menu-custom {
  position: absolute;
  width: 45%;
  bottom: 48px;
  right: 0;
  z-index: 3;
  background: $second-color-light;
  border: 1px solid $second-color-dark;
  ul li {
    text-align: center;
    font-size:16px;
    font-weight: normal;
    color: $text-white-color;
    padding:8px 5px;
    border-bottom:1px solid $second-color-dark2;
    &.menu-custom--active {
      background: $text-white-color;
      color: $second-color-dark;
    }
  }
}