#view-1{
   padding:0;
  .object {
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
  }
  .title-block{
    top: 14%;
    left: 25%
  }
  .back {
    height: 100%;
    width: 100%;
    background: url(../../img/darkavatar.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 36%;
  }
  .text{
    text-align: justify;
    padding: 10px 20px;
    color: white;
  }
}
#view-1 .mov-up {
  transform: translate(0,-50px);
  -webkit-transform: translate(0,-50px);
  -o-transform: translate(0,-50px);
  -moz-transform: translate(0,-50px);
}
#view-1 .mov-down {
  transform: translate(0, 64%);
  -webkit-transform: translate(0,64%);
  -o-transform: translate(0, 64%);
  -moz-transform: translate(0, 64%);
}
