@charset "UTF-8";
@font-face {
  font-family: "SourceSansProRegular";
  src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot");
  src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"), url("../fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SourceSansProLight";
  src: url("../fonts/SourceSansProLight/SourceSansProLight.eot");
  src: url("../fonts/SourceSansProLight/SourceSansProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansProLight/SourceSansProLight.woff") format("woff"), url("../fonts/SourceSansProLight/SourceSansProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  font: 14px/1.5 'SourceSansProRegular', sans-serif;
  background: white; }
  body button {
    font-family: 'SourceSansProRegular', sans-serif; }
  body .md-button,
  body .button-link {
    text-transform: none; }
  body .logo-box {
    margin: 30px 0;
    text-align: center;
    padding: 20px 0; }
    body .logo-box img {
      width: 200px; }
  body .content {
    padding: 0 40px 40px; }
    body .content .content-logo-image {
      display: block;
      right: 0;
      margin: 0 0 0 auto;
      font-size: 20px;
      max-width: 100px; }
    body .content h4 {
      margin-top: 30px; }
    body .content .button-have {
      margin: 20px auto;
      display: block; }
  body .slider {
    height: 300px; }
    body .slider .icon-list {
      margin-top: 35px;
      margin-bottom: 49px; }
      body .slider .icon-list img {
        width: 50px; }
    body .slider .text {
      font-size: 18px; }
  body .slider-slide {
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300; }
  body #logo {
    margin: 30px 0; }
  body #list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px; }
  body #list ol {
    margin-top: 30px; }
  body #list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0; }
  body .button.ng-hide {
    display: none; }
  body .md-button.md-primary.md-raised:not([disabled]).md-focused {
    background-color: #2196f3; }
  body .main-content-home {
    padding: 0 10px; }

.navigate-bar .md-button {
  min-width: 0;
  width: 25%; }

.homepage md-select {
  text-align: right;
  font-size: 14px;
  color: #141414; }
  .homepage md-select .md-select-icon {
    display: none; }
  .homepage md-select .md-select-value.md-select-placeholder {
    color: #141414; }

.homepage .select-lng {
  width: 60px;
  margin: 0 0 0 auto; }
  .homepage .select-lng img {
    width: 23px;
    float: left;
    margin-left: 7px; }
  .homepage .select-lng .md-text span {
    line-height: 1.5; }

.lng-item img {
  width: 25px;
  float: left;
  margin-right: 10px; }

.lng-item span {
  line-height: 1.5; }

.splash-screen {
  top: 33%; }
  .splash-screen .splash {
    width: 100%; }

.content .list {
  margin-top: 20px; }
  .content .list :first-child {
    border-top: 0; }
  .content .list i {
    font-size: 27px; }
  .content .list .btn-submit {
    background: #2196f3;
    margin-top: 40px;
    padding: 5px 0; }
  .content .list .item {
    border-left: none;
    border-right: none; }

.content .social-buttons {
  margin-top: 25px;
  text-align: center; }
  .content .social-buttons img {
    width: 25px; }

.bar .title {
  width: 100%;
  margin: 0; }

.ion-arrow-left-c {
  color: #999; }

.register-page .header-title-page {
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 2; }

.register-page .btn-back {
  position: absolute;
  top: 17px; }
  .register-page .btn-back .button {
    font-size: 26px; }
    .register-page .btn-back .button:focus {
      background: none;
      border: none; }

.register-page .list label {
  margin-bottom: 20px; }
  .register-page .list label span {
    color: #aaaaaa;
    font-size: 12px;
    text-transform: uppercase; }
  .register-page .list label input {
    color: #141414;
    font-size: 16px;
    padding: 15px 0 20px;
    border-color: #000;
    border-bottom: 1px solid #ccc; }

.forgot-pass .list {
  margin-top: 60px; }

.friends-profile .logo-header {
  justify-content: center; }

.friends-profile .btn-back {
  align-self: center;
  position: absolute;
  left: 5px; }
  .friends-profile .btn-back .button {
    background: transparent;
    font-size: 30px; }

.btn-subsc-chat {
  min-height: initial;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #1d88ec;
  line-height: 26px;
  color: #fff;
  font-size: 13px;
  font-family: 'SourceSansProLight', sans-serif;
  margin-right: 10px; }

[nav-view-transition="ios"][nav-view-direction="forward"],
[nav-view-transition="ios"][nav-view-direction="back"] {
  background-color: #fff; }

.button-link {
  display: block;
  font-size: 14px;
  margin: 5px auto;
  text-transform: uppercase; }

.page-login .back {
  text-align: center;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1); }

.page-login .button-exit {
  background: none; }
  .page-login .button-exit :focus {
    background: none; }
  .page-login .button-exit i {
    color: #999999; }

.page-login .activated {
  border: none;
  color: #ccc; }

.page-login md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #2196f3; }

.page-login md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #2196f3; }

.page-login .data-block md-input-container {
  margin: 0; }

.page-login .social-buttons {
  margin-top: 40px;
  text-align: center;
  font-size: 40px; }

.page-login .header-title-page {
  width: 100%;
  margin: 0; }

.content .list :first-child .md-icon {
  border: 1px solid darkgray; }

.page-user-profile .slider-pager {
  bottom: 0;
  background: #fff; }
  .page-user-profile .slider-pager .slider-pager-page {
    font-size: 7px;
    color: #000;
    margin: 0; }

.page-user-profile md-tabs.md-accent > md-tabs-wrapper {
  background: white; }
  .page-user-profile md-tabs.md-accent > md-tabs-wrapper .icon-tabs-menu {
    color: #bdbdbd;
    font-size: 30px; }

.page-user-profile .button-message-user {
  color: cornflowerblue;
  font-size: 16px;
  background: none; }

.logo-header {
  text-align: center;
  background: #f9f9f9;
  height: 68px;
  border-bottom: 1px solid #cccccc; }
  .logo-header .header-title {
    font-size: 20px; }
  .logo-header .ion-edit-left {
    margin-left: 10px;
    line-height: 55px;
    font-size: 35px; }
  .logo-header .exit-icon {
    content: url(../img/svg/icon_exit.svg);
    width: 25px;
    vertical-align: bottom; }
  .logo-header .chat-icon {
    content: url(../img/svg/chatnew.svg);
    width: 25px;
    vertical-align: bottom; }
  .logo-header .ion-paper-right {
    font-size: 35px;
    line-height: 55px;
    margin-right: 10px; }

.header-profile .profile-content {
  padding: 15px; }
  .header-profile .profile-content .content-user-avatar {
    margin-right: 15px; }
    .header-profile .profile-content .content-user-avatar img {
      height: 100px;
      width: 100px;
      display: block;
      border-radius: 50%; }
  .header-profile .profile-content .user-info h1 {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 5px 0; }

.header-profile .profile-content-balance {
  margin-top: 15px; }
  .header-profile .profile-content-balance .edit-profile-btn {
    font-size: 14px;
    border: 1px solid #acacac;
    margin-left: 10px;
    padding: 1px 9px;
    color: #141414;
    font-family: 'SourceSansProLight', sans-serif; }
    .header-profile .profile-content-balance .edit-profile-btn .edit-profile-icon {
      content: url(../img/svg/edit.svg);
      margin-right: 5px;
      width: 11px; }
  .header-profile .profile-content-balance .flaticon-diamond {
    margin-right: 8px;
    font-size: 22px;
    line-height: 1; }
  .header-profile .profile-content-balance p {
    margin: 0;
    line-height: 1;
    font-size: 20px;
    font-family: 'SourceSansProLight', sans-serif; }

.events-content-user .user-slick {
  height: auto;
  max-height: 500px;
  overflow: hidden; }

.user-slick .slider {
  height: 360px;
  padding-top: 0; }

.user-slick .box-slick-user img {
  height: 300px; }

.box-slick-user {
  background: #f9f9f9; }

.user-info-block {
  color: #141414; }
  .user-info-block h2 {
    font-size: 15px;
    margin: 0 0 5px 0;
    font-weight: normal; }
  .user-info-block .user-location {
    font: 13px 'SourceSansProLight', sans-serif; }

md-list-item.md-2-line:before, md-list-item.md-2-line > .md-no-style:before {
  min-height: 0; }

.my-shops-items {
  text-align: center;
  color: #f9f9f9;
  overflow: hidden;
  width: 32.8%;
  margin: 1px;
  height: 120px; }
  .my-shops-items img {
    height: 100%; }
  .my-shops-items:nth-child(3n + 3) {
    margin-right: 0; }
  .my-shops-items:nth-child(-n +3) {
    margin-top: 0; }

.fill-comments {
  font-size: 11px;
  color: #b25b57; }

.stars {
  color: gray; }
  .stars .count {
    color: white;
    padding: 5px;
    font-size: 10px; }

.del-user-buttons {
  font-size: 20px; }

.slider-pager {
  height: auto; }

.slider-pager-none {
  display: none; }

.slider-pager .slider-pager-page {
  font-size: 14px;
  color: #8c8888;
  margin: 0 10px; }

.comment-aliens-text {
  position: absolute;
  bottom: 48px;
  width: 100%;
  background: white; }

.del-items {
  background: #F2F2F2 !important;
  top: 0 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  padding: 0 5px 1px 5px !important;
  border-radius: 10px 10px 10px 10px !important;
  border-bottom: none !important;
  min-width: 70% !important; }
  .del-items .md-dialog-content {
    padding: 10px 24px 0 24px !important; }
    .del-items .md-dialog-content .text-content-del-item .text-popup-del {
      font-size: 20px; }
  .del-items .button-dialog-content-del-item {
    margin-top: 0 !important; }

.change-password-input {
  font-size: x-large; }

.header-logo img {
  width: 150px;
  height: 100%; }

.header-icon {
  align-self: center;
  padding: 0 10px; }
  .header-icon .flaticon-edit {
    font-size: 26px; }
  .header-icon .flaticon-paper-plane {
    font-size: 32px; }

.tabs-stable > .tabs,
.tabs.tabs-stable {
  background-color: #f9f9f9; }

.calendar-top {
  content: url(../img/svg/calendar-top.svg);
  width: 22px; }

.flaticon-price-tag,
.flaticon-star-1,
.flaticon-users {
  font-size: 22px;
  color: #aaa; }

.md-active .calendar-top {
  content: url(../img/svg/calendar-02-01.svg); }

.md-active .flaticon-price-tag,
.md-active .flaticon-star-1,
.md-active .flaticon-users,
.md-active .ion-ios-flag-outline {
  color: #000000 !important; }

md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
  display: none; }

md-tabs-canvas {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 52px; }

.header-user {
  padding: 10px 0 10px 15px; }
  .header-user .ion-ios-more {
    font-size: 30px; }
  .header-user .image-block-user {
    margin-right: 15px; }
    .header-user .image-block-user img {
      width: 40px;
      height: 40px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
  .header-user .md-icon-button {
    padding: 0;
    line-height: 31px; }

.user-content-data-info {
  padding: 0 15px 10px; }
  .user-content-data-info .comment-icon {
    font-size: 30px;
    line-height: 0;
    margin-bottom: 5px; }
    .user-content-data-info .comment-icon .fill,
    .user-content-data-info .comment-icon .rating {
      width: 22px;
      margin-right: 15px; }
  .user-content-data-info .block-time-create {
    color: #aaa;
    font-size: 11px;
    margin-top: 5px; }
  .user-content-data-info .post-comment-price {
    line-height: 0; }
    .user-content-data-info .post-comment-price .comments-user-style {
      font-size: 30px;
      margin-right: 15px; }
  .user-content-data-info .content-data-coments {
    font-size: 15px; }
    .user-content-data-info .content-data-coments limite-text {
      font-family: 'SourceSansProLight', sans-serif; }
      .user-content-data-info .content-data-coments limite-text p {
        display: inline; }
  .user-content-data-info .flaticon-diamond {
    font-size: 20px;
    margin-right: 5px; }
  .user-content-data-info .price {
    font-size: 18px;
    font-family: 'SourceSansProLight', sans-serif; }
  .user-content-data-info .comments-user-style {
    margin-right: 15px; }
  .user-content-data-info .btn-subsc-chat {
    width: 110px; }

.chips-categories {
  margin-bottom: 10px;
  padding: 5px 15px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc; }
  .chips-categories .chips-categories-item {
    margin-right: 10px; }
    .chips-categories .chips-categories-item:after {
      content: '/';
      margin-left: 10px; }
  .chips-categories .chips-categories-item:last-child:after {
    content: ''; }

.rating {
  content: url(../img/svg/star.svg);
  width: 14px;
  margin-right: 2px; }

.fill {
  content: url(../img/svg/star-fill.svg);
  width: 15px;
  margin-right: 2px; }

.friends-list-content .friends-list {
  padding: 10px 15px; }
  .friends-list-content .friends-list_item {
    margin-bottom: 10px; }

.friends-list-content .search {
  color: #ccc;
  position: relative; }
  .friends-list-content .search input {
    width: 100%;
    background: #efeeee;
    border: none;
    padding-left: 37px; }
  .friends-list-content .search i {
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 14px;
    bottom: 0;
    line-height: 40px; }

.friends-list-content .button-light {
  border-color: #ACACAC;
  color: #141414;
  font-size: 14px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  min-height: initial;
  line-height: 26px;
  padding: 0 15px; }

.friends-list-content .image-block-user img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px; }

md-progress-linear {
  z-index: 99;
  height: 2px;
  position: absolute; }
  md-progress-linear .md-container {
    height: 2px !important; }

.tab-item span {
  font-size: 12px; }

.tab-item .icon {
  height: 100%;
  width: 24px; }

.tab-item .add,
.tab-item .add-active {
  width: 21px; }

.tab-item.tab-item-active {
  border: none !important; }

.tab-item.activated {
  border: none !important; }

.tab-nav {
  border-top: 1px solid #ccc !important; }

.calendar {
  content: url(../img/svg/calendar.svg); }

.calendar-active {
  content: url(../img/svg/calendar-act.svg); }

.cart {
  content: url(../img/svg/shopping-cart-new.svg); }

.cart-active {
  content: url(../img/svg/shopping-cart-new2.svg); }

.add {
  content: url(../img/svg/addnew.svg); }

.add-active {
  content: url(../img/svg/add-plus-button.svg); }

.favorite {
  content: url(../img/svg/alarm-01.svg); }

.favorite-active {
  content: url(../img/svg/alarm_active.svg); }

.user {
  content: url(../img/svg/user.svg); }

.user-active {
  content: url(../img/svg/user-act.svg); }

.page-user-profile .has-header {
  top: 70px; }

.page-events-list .logo-header {
  text-align: center;
  /*-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    height: 70px;*/ }
  .page-events-list .logo-header .ion-edit-left {
    /*margin-left: 10px;*/
    line-height: 55px;
    font-size: 27px;
    width: 24px; }
  .page-events-list .logo-header .ion-paper-right {
    font-size: 28px;
    line-height: 55px;
    /*margin-right: 10px;*/ }

.page-events-list .slider-pager {
  bottom: 0;
  background: #fff; }
  .page-events-list .slider-pager .slider-pager-page {
    margin: 0;
    font-size: 7px;
    color: #000; }

.slider-pager {
  bottom: 0; }

.slider {
  height: auto !important;
  max-height: 500px;
  padding-bottom: 21px;
  overflow: hidden; }

.page-events-list .has-header {
  top: 70px; }

.events-content .image-block {
  margin: 10px 15px; }
  .events-content .image-block .image-block-avatar {
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 100px;
    /* Радиус скругления */ }

.events-content .events-slick {
  height: 215px; }

.events-slick .slider {
  height: 215px;
  padding-top: 0; }

.events-slick .slider-slide {
  padding-top: 0;
  max-height: 500px; }

.user-info-block p {
  font-size: 14px;
  margin: 0; }

.user-info-block .user-info-block-location {
  color: #bdbdbd; }

.page-events-list .box-slick {
  max-height: 270px; }
  .page-events-list .box-slick .box-slick-img {
    height: 200px; }

.icon-batton {
  height: 40px;
  font-size: 30px;
  /*.ion-ios-star{
    padding-left:18px;
  }
  .ion-android-star-outline {
    padding-left:20px;
  }*/ }
  .icon-batton i {
    margin-right: 15px;
    width: 22px; }

.content-date p {
  margin: 0;
  font-size: 14px;
  color: #141414;
  display: inline; }

.content-date .data-push {
  min-width: 80px;
  text-align: center; }

.content-date a {
  text-decoration: none !important;
  color: #aaa; }

.content-date .date-post {
  color: #1D88EC;
  margin-bottom: 3px; }

.menu-bar-items {
  font-size: 30px; }

.button-take {
  position: absolute;
  right: 0; }

.container-comment p {
  margin: 0; }

.box-slick-user .box-slick-img {
  max-height: 200px; }

.slider-slides {
  height: auto; }

.create-tex {
  margin-right: 12px; }

.icon-price {
  margin: 3px 20px 0 30px; }

.text-shop-price {
  margin: 0 auto 0 0; }

.chips-categories md-list {
  padding: 0; }

.chips-categories .my-class .md-item-text {
  line-height: 35px;
  margin-right: 10px;
  margin-top: 10px; }

.chips-categories .md-list-item.md-2-line, .chips-categories md-list-item.md-2-line {
  min-height: 35px;
  justify-content: start; }

/*.icon-batton .button {
  min-height: 35px;
  height: 35px;
  line-height: 35px;
  min-width: 120px;
  right: 10px;
}*/
.round-chips {
  border-radius: 100px;
  float: left;
  box-sizing: border-box;
  padding: 0 8px;
  height: 35px; }

md-list-item.md-no-proxy, md-list-item .md-no-style {
  padding: 0 10px; }

.md-dialog-container md-dialog {
  border-radius: 0;
  width: 100%;
  min-width: 100%; }
  .md-dialog-container md-dialog .md-dialog-content {
    padding: 10px 24px 24px; }
    .md-dialog-container md-dialog .md-dialog-content .close {
      text-align: right;
      font-size: 30px; }

.md-dialog-container md-dialog-actions {
  padding: 0; }

.md-dialog-container .search-input {
  border-bottom: 1px solid #ddd; }

.md-dialog-container md-dialog-actions {
  min-height: inherit;
  /*margin-top: 15px;*/
  padding-bottom: 30px; }

.md-dialog-container input {
  width: 100%; }

.button-exit {
  font-size: 25px !important; }

.user-rating-block {
  padding-right: 20px; }

.stars-rating-items {
  color: #b25b57;
  font-size: 14px;
  padding-right: 5px; }

.md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
  border: 1px solid #2196f3; }

.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
  background: #2196f3; }

.md-accent .md-datepicker-open .md-datepicker-calendar-icon {
  color: #2196f3; }

.md-datepicker-calendar-pane.md-pane-open {
  top: 60px !important; }

.loading-container .loading {
  background: transparent; }

.spinner {
  stroke: #fff;
  fill: #fff; }

md-checkbox {
  margin: 3px 0 6px; }
  md-checkbox .md-icon {
    border-width: 1px;
    border-color: #ccc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
  md-checkbox.md-checked .md-icon {
    background-color: transparent;
    border: 1px solid #141414;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    md-checkbox.md-checked .md-icon:after {
      left: 6px;
      top: 1px;
      border-color: #141414; }

.add-product md-tabs-canvas {
  border-top: none;
  height: 48px; }

.add-product .header-logo {
  text-align: right; }

.add-product button {
  /*background-color: white;*/ }

.add-product .add-product-button .btn-submit {
  background: none;
  font-size: 12px;
  min-height: 30px;
  line-height: 30px;
  padding: 0;
  color: #2196f3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  .add-product .add-product-button .btn-submit:hover {
    background-color: transparent !important; }

.add-product .logo-box-second {
  padding: 10px;
  text-align: center; }

.add-product md-tabs.add-product-tabs > md-tabs-wrapper {
  background: #fff;
  /* border-top: 2px solid #cecece;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 4px 0  rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px  0 rgba(0,0,0,0.3);*/ }

.add-product md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active,
.add-product md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #000;
  text-transform: capitalize;
  font-weight: bold; }

.add-product md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
  background: #bdbdbd; }

.add-product md-tab-item {
  width: 50%; }

.add-product .adding-photo {
  padding: 25px 0;
  text-align: center;
  border-bottom: 1px solid #c6c6c6; }
  .add-product .adding-photo .icon-camera {
    position: relative;
    font-size: 48px; }
  .add-product .adding-photo .icon-plus {
    position: absolute;
    top: 12px;
    font-size: 18px; }
  .add-product .adding-photo img {
    width: 100px; }

.add-product .adding-category {
  padding: 0 20px;
  border-bottom: 1px solid #c6c6c6;
  border-top: 1px solid #c6c6c6; }
  .add-product .adding-category md-select {
    margin: 5px 0; }

.add-product .textarea-field {
  border-bottom: 1px solid #c6c6c6;
  padding: 5px 20px;
  margin: 0; }
  .add-product .textarea-field textarea {
    font-size: 14px;
    width: 100%;
    resize: none;
    padding: 0;
    border: none; }
  .add-product .textarea-field .md-errors-spacer {
    display: none; }

.add-product .adding-price {
  position: relative;
  padding: 10px 20px 0;
  border-bottom: 1px solid #c6c6c6; }
  .add-product .adding-price .tooltip-info {
    position: absolute;
    padding: 20px;
    color: rgba(255, 255, 255, 0.87);
    background-color: #616161;
    font-size: 13px;
    border-radius: 4px;
    top: -130px;
    right: 30px;
    width: 317px;
    opacity: 0.9; }
  .add-product .adding-price .icon-tooltip {
    text-align: right;
    font-size: 20px; }

.add-product .adding-block {
  padding: 10px 20px;
  border-bottom: 1px solid #c6c6c6; }
  .add-product .adding-block input {
    width: 100%; }
  .add-product .adding-block .icon-location {
    font-size: 24px;
    display: inline-block;
    margin-right: 5px;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px); }
  .add-product .adding-block .icon-calendar {
    font-size: 18px;
    display: inline-block;
    margin-right: 5px;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px); }

.add-product .adding-date {
  padding: 10px 0;
  border-bottom: 1px solid #c6c6c6;
  border-top: 1px solid #c6c6c6; }
  .add-product .adding-date .md-datepicker-input-container {
    border: none;
    width: 80%;
    margin-left: 0; }
  .add-product .adding-date md-icon {
    color: #000; }

.add-product .user-checkbox {
  border-bottom: none; }

.add-product md-tab-item.md-active {
  border-bottom: 2px solid #000; }

.add-product-block-shops {
  padding: 10px;
  width: 33%; }
  .add-product-block-shops .add-product-image-shops {
    width: 100%; }

.button-center-add-product {
  display: block;
  margin: 15px auto; }

.my-class-select-image {
  display: none; }

.md-select-menu-container.md-active {
  /*top: 60px !important;*/ }

.button-camera {
  font-size: 40px;
  text-align: center;
  width: 100px;
  margin: 0 auto;
  padding: 10px 0;
  color: #000; }

.camera-popup {
  font-size: 16px; }
  .camera-popup-item {
    padding: 10px 20px;
    border-bottom: 1px solid #aaa; }
  .camera-popup i {
    font-size: 24px;
    margin-right: 15px; }

h3 {
  text-align: center;
  color: #141414;
  font-size: 14px;
  padding: 15px;
  font-weight: 400; }

.select-image-border {
  padding: 10px;
  -webkit-box-shadow: 0px 0px 0px 2px #2196f3;
  -moz-box-shadow: 0px 0px 0px 2px #2196f3;
  box-shadow: 0px 0px 0px 2px #2196f3; }

.button.button-light {
  background: none; }
  .button.button-light .ion-ios-arrow-thin-left {
    font-size: 30px; }
  .button.button-light .flaticon-add {
    font-size: 16px; }

.header-title {
  font-size: 20px !important;
  font-family: 'SourceSansProRegular', sans-serif !important; }

.chat-content .button-icon.icon:before {
  font-size: 15px; }

.chat-ion-content {
  top: 70px; }

.new-message textarea {
  resize: none; }

div.speech {
  width: 200px;
  /*min-height: 100px;*/
  border-radius: 10px;
  margin: 20px auto 0 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  border: 1px solid #ccc;
  position: relative; }
  div.speech .message-time {
    /*display: inline-block;*/
    width: 120px;
    position: absolute;
    /*right: -65px;*/
    left: 100%;
    bottom: 0; }
    div.speech .message-time p {
      display: block;
      width: 100%;
      padding: 0 10px; }

div.my-message {
  margin: 20px 20px 0 auto; }
  div.my-message .message-content {
    background: #F2F2F2;
    top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 0 5px 1px 5px;
    border-radius: 10px 10px 0 0;
    border-bottom: none; }
  div.my-message .message-time {
    left: -120px;
    bottom: 0;
    text-align: right; }

.message-content {
  background: #fff;
  top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 5px 1px 5px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid black; }

.message-text {
  padding: 5px;
  font-size: 14px;
  line-height: 18px; }

.message-time {
  font-size: 11px;
  margin-right: 5px; }

.md-icon-button-chat {
  position: absolute;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important; }

.dialogs-style-chat {
  top: 70px; }

.my-dialog-class {
  padding: 0 40px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #f9f9f9;
  height: 68px !important;
  line-height: 68px !important;
  border-bottom: 1px solid #cccccc; }

.bar-header {
  height: 68px; }

.pane .button-exit {
  font-size: 30px; }

.add-product .btn-blue {
  background: none;
  color: #2196f3; }
  .add-product .btn-blue.activated, .add-product .btn-blue.md-focused {
    background: none;
    border: none;
    color: #2196f3; }

.new_chat .button {
  background-color: none; }
  .new_chat .button .ion-checkmark-round {
    font-size: 20px; }

.new_chat .ion-checkmark-circled {
  font-size: 20px; }

.new_chat .subscriber md-checkbox {
  margin: 0 !important; }

.new_chat .subscriber .md-icon {
  border: 1px solid #141414;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .new_chat .subscriber .md-icon:after {
    border-color: #141414;
    left: 6px; }

.new_chat .subscriber .md-checked .md-icon {
  background: none; }

.page-new-password {
  top: 70px; }

.container-comment {
  width: 100%;
  padding: 10px;
  position: relative;
  top: 70px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc; }

.message-comments-text {
  margin: -3px 0 0;
  width: 65%; }

.message-user-comment {
  margin-right: 10px;
  width: 105px; }
  .message-user-comment h6 {
    margin-top: 0;
    margin-bottom: 0; }

.container-comment-items {
  width: 100%;
  padding: 10px;
  position: relative; }

.comment-time {
  color: #aaa;
  font-size: 11px;
  margin-top: 5px; }

.my-change-button {
  margin: auto 0;
  display: block;
  width: 80px;
  padding-left: 15px; }

.change-profile {
  padding: 15px 15px 0 !important;
  width: 100%;
  margin-top: 70px; }
  .change-profile .content-user-avatar {
    margin: 0 !important; }
  .change-profile .profile-info :last-child textarea {
    border: none; }
  .change-profile textarea {
    min-height: 50px !important;
    /*&:last-of-type {
      border: none;
    }*/ }

.profile-content-balance .button.button-light {
  color: #4b8bf4; }

.change-profile-anonymous {
  margin: 10px 15px; }

.button.active,
.button.activated,
.button.button-light.active,
.button.button-light.activated {
  border-color: transparent;
  background: none; }

.profile-info {
  width: 67%; }
  .profile-info md-input-container {
    margin: 0; }
  .profile-info .md-errors-spacer {
    min-height: 0; }

.change-profile-btn {
  height: 46px;
  width: 70%;
  margin: 0 auto 10px; }

.change-password-wrapp {
  padding: 0 15px; }

.change-password-btn {
  position: relative;
  background: none;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 55px;
  color: #141414;
  text-align: left;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc; }

.change-password-btn i {
  position: absolute;
  right: 0;
  font-size: 19px; }

.change-lang {
  padding-top: 15px; }

.change-lang button {
  background: none;
  border: none; }

.change-lang img {
  width: 25px;
  float: left;
  margin-right: 10px; }

.change-lang span {
  vertical-align: middle; }

.change-password-header .my-change-button {
  width: 60px; }

.change-password-header .btn-submit {
  color: #2196f3 !important; }

md-input-container {
  margin: 10px 10px 0 10px; }

.profile-page-container {
  height: 68px; }
  .profile-page-container .button-exit {
    text-align: left; }

.change-password {
  margin: 100px 0 0; }
  .change-password textarea {
    padding: 0 15px;
    border-bottom: 1px solid #ccc !important; }

.content-change-profile-user {
  top: 50px; }

.change-input {
  top: 90px;
  margin-bottom: 25px; }

.titel-change-password {
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 60px;
  font-weight: 500; }

.forgot-password-content {
  top: 40px; }

.item.change-password-input {
  border-bottom: 1px solid #ccc;
  padding: 0 0 0 15px; }
  .item.change-password-input .md-button i {
    font-size: 25px; }

/*
.scroll-content {
  top: 70px;
}*/
.container-comment {
  position: relative; }
  .container-comment .container-comment-button-take {
    position: absolute;
    right: 10px; }

.message-content-items {
  font-size: 16px; }

.container-comment-items p {
  margin: 0; }

.button-take-icon {
  position: absolute;
  right: 0;
  width: 50px;
  font-size: 24px;
  text-align: center; }

.notification-page .container-comment-items {
  padding: 10px 20px; }

.notification-page .message-text-items {
  color: #aaa;
  font: 14px 'SourceSansProLight', sans-serif; }

.notification-page .message-time-items {
  font-size: 10px;
  /* margin-left: 20px;*/
  color: #aaa; }

.notification-page .btn-subsc-chat {
  margin-top: 10px; }

.item {
  border: none;
  padding: 0 16px; }

.stars-aliens {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 10px;
  color: gray; }
  .stars-aliens .count {
    color: white;
    padding: 5px;
    font-size: 10px; }
  .stars-aliens .fill-usercomments {
    color: #b25b57; }

.container-comment-aliens {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #ccc; }
  .container-comment-aliens .message-aliens-comment {
    width: 30%; }
    .container-comment-aliens .message-aliens-comment .aliens-comments-time {
      font-size: 10px; }
  .container-comment-aliens .message-aliens-text {
    width: 70%; }
    .container-comment-aliens .message-aliens-text p {
      line-height: 15px; }

.conteiner-alians-content {
  width: 100%; }

.new-message {
  padding: 0 5px; }

.message-aliens-comment h6 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 15px; }

.apply {
  /*background: $blue-color;*/
  color: #2196f3;
  border: 1px solid #2196f3;
  text-align: center;
  /*padding: 7px 0;
  width: 100%;*/
  margin: 0 auto;
  width: 130px;
  height: 25px; }

.page-filter {
  font-family: SourceSansProLight, sans-serif; }
  .page-filter button {
    background: none;
    width: 67px; }
    .page-filter button i {
      background: transparent;
      font-size: 30px; }
  .page-filter .btn-submit {
    color: #2196f3; }
  .page-filter .rzslider .rz-pointer.rz-active:after {
    background-color: #0db9f0; }
  .page-filter .rzslider .rz-pointer {
    top: -5px;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid #2196f3; }
  .page-filter .rzslider .rz-selection {
    background: #2196f3; }
  .page-filter .rzslider .rz-bar {
    height: 1px;
    color: #aaa; }
  .page-filter .rzslider .rz-pointer:after {
    display: none; }
  .page-filter .filter-price {
    padding: 5px 20px 15px;
    border-bottom: 1px solid #c6c6c6; }
    .page-filter .filter-price .user-checkbox {
      margin-top: 10px; }
  .page-filter .price-text {
    padding-top: 15px; }
  .page-filter .filter-category {
    border-bottom: 1px solid #aaa; }
    .page-filter .filter-category md-select {
      padding: 0 10px;
      margin: 10px 0; }
      .page-filter .filter-category md-select .md-select-value.md-select-placeholder {
        color: #000; }
      .page-filter .filter-category md-select .md-text {
        color: #2196f3; }
    .page-filter .filter-category :last-of-type {
      border: none; }
