.background-image{
  height: 100%;
  background: url(../img/5714520-sky-images.png) no-repeat;
  background-size: 100% 70%;
  position: relative;
  opacity: 0.5;
}


.item-block-top{
  height: 40%;
  width: 100%;
  background: #2c304b;
}
.item-block-top:after {
  content: '';
  width: 100%;
  height: 100%;
  background: url(../img/item-top-sky-images.png) no-repeat;
  background-size: 100%;
  position: absolute;
  opacity: .35;
  top: 0;
}
.item-block-top-logo {
  position: absolute;
  top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.item-block-top-logo p{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 42.67px;
  letter-spacing: -0.1px;
  word-spacing: 1px;
  padding-top: 20px;
}
.item-block-top-logo img {
  width: 40%;
  -webkit-user-drag: none;
}



.item-block-content {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 33%;
}
.item-block-content:after {
  content: '';
  background: url(../img/border.svg) no-repeat;
  width: 100%;
  height: 20%;
  position: absolute;
  top: 0;
}
//.form-item-block-content {
//  width: 160%;
//  height: 100%;
//  background: url(../img/border.svg);
//  position: absolute;
//  left: -30%;
//  border-top-left-radius: 54%;
//  border-top-right-radius: 54%;
//}
.block-content{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9%;
  p {
    padding-top: 12px;
    font-size: 16px;
  }
  .send-button {
    width: 35%;
    height: 48px;
    background-color: #d30041;
    color: white;
    margin-top: 15px;
  }
  .item-input{
    width:250px;
  }
}

// input
.input-block{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  input {
    padding:0;
    font-size:12.5px;
  }
  .select-button{
    width: 70px;
    border-color: #ddd;
    border-radius: 0;
    color: #959393c4;
    font-size: 12.5px;
  }
  .item-input{
    padding: 5px 0 6px 12px;
    width: 170px;
  }
  .button:hover{
    background-color: transparent;
  }
  .button.activated, .button:active{
     background-color: transparent;
   }
}

.text-center{
  text-align: center;
}



//.form-item-block-content {
//  width: 180%;
//  height: 70%;
//  background: #fff;
//  position: absolute;
//  bottom: 35%;
//  left: -40%;
//  border-top-left-radius: 340px;
//  border-top-right-radius: 340px;
//}