



.item-block-top{
  height:100%;
  width: 100%;
  background: #2c304b;
}
.item-block-top-background-image{
  height: 100%;
  background: url(../img/item-top-sky-images.png) no-repeat;
  background-size: 100% 43.5%;
  position: relative;
  opacity: 0.45;
}
.item-block-top-logo {
  position: absolute;
  top: 13%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-block-top-logo p{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 42.67px;
  letter-spacing: -0.1px;
  word-spacing: 1px;
  padding-top: 20px;
}
.item-block-top-logo img {
  width: 40%;
  -webkit-user-drag: none;
}


.item-block-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 40%;
}
.form-item-block-content {
  width: 160%;
  height: 70%;
  background: #fff;
  position: absolute;
  bottom: 34.8%;
  left: -30%;
  border-top-left-radius: 54%;
  border-top-right-radius: 54%;
}
//.item-block-content:after {
//  content: '';
//  position: absolute;
//
//  width: 0;
//  height: 0;
//  border-top:15px solid white;
//  border-left:15px solid transparent;
//  border-right:15px solid transparent;
//  top: 0;
//  left: 46%
//}
.block-content{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:2%;
  p {
    padding-top: 12px;
    font-size: 16px;
  }
  button {
    width: 35%;
    height: 48px;
    background-color: #d30041;
    color: white;
    margin-top: 15px;
  }
  input {
    border: 1px solid #94a4c08c;
    padding: 22px 50px;
    text-align: center;
    font-size: 12.5px;
  }
}

// input
.input-block{
  display: flex;
  justify-content: center;
  width: 100%;
  input[type=text] {
    padding: 22px;
    width: 22%;
    border-right: none;
  }
  input[type="number"] {
    padding: 22px 12px;
  }
}

