.edit-spec{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  .spec-list {
    width: 100%;
    .list {
      width: 86%;
      margin: auto;
    }
    label {
      margin-bottom: 3vw;
      font-size: 4.1vw;
      color: $input-text;
    }
  }
  .item-spec{
    border: none;
  }

  .spec-check {
    width: 13vw;
    height: 13vw;
    img {
      width: 100%;
    }
  }
  //.around {
  //  width: 20px;
  //  height: 20px;
  //  border: 1px solid grey;
  //  border-radius: 50%;
  //  margin: 0 20px;
  //}
}