<ion-modal-view class="edit-spec">
    <div class="item-block-top">
        <div layout="row" layout-align="space-around end" class="steps-wrap">
            <div class="steps-item"><span>1</span></div>
            <div class="steps-item"><span>2</span></div>
            <div class="steps-item active-step"><span>3</span></div>
        </div>
        <div class="img-wrap">
            <p>Add specialities</p>
            <div class="img-outer">
                <img src="content/img/border.svg">
            </div>
        </div>
    </div>
    <ion-content class="item-block-content">
        <div class="block-content">
            <ion-list class="spec-list">
                <div ng-repeat="item in vm.specialities" style="position: relative;"
                     ng-click="vm.selectItem(item)">
                    <!--<i class=""-->
                    <!--style="position: absolute; left:0;"-->
                    <!--ng-class="{'icon icon ion-star':item.checked,-->
                    <!--'icon icon ion-compass':!item.checked}"></i>-->
                    <!---->
                    <label layout="row" layout-align="start center">
                        <div ng-if="item.checked || vm.specialty.checked" class="spec-check">
                            <img src="content/img/checked-icon.png" alt="">
                        </div>
                        <div ng-if="!item.checked" class="spec-check">
                            <img src="content/img/unchecked-icon.png" alt="">
                        </div>
                        <input type="checkbox"
                               style="opacity: 0"
                               ng-model="item.checked"
                               ng-checked="item.checked">
                        {{item.name}}
                    </label>
                </div>
            </ion-list>
            <button class="send-button" ng-click="vm.saveModal()">Save</button>
            <!--<button class="send-button" ng-click="vm.closeModal()">Cancel</button>-->
            <!--<ion-infinite-scroll-->
            <!--on-infinite="loadMore()"-->
            <!--distance="1%">-->
            <!--</ion-infinite-scroll>-->
        </div>
    </ion-content>
</ion-modal-view>