.edit-spec{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  .item-block-content{
    position: absolute;
    top: 35vh;
  }
  .spec-list {
    width: 100%;
    .list {
      width: 86%;
      margin: auto;
    }
    label {
      margin-bottom: 3vw;
      font-size: 4.1vw;
      color: $input-text;
    }
  }
  .item-spec{
    border: none;
  }
  .block-content{
    .send-button{
      margin-bottom: 20px;
    }
  }
  .spec-check {
    width: auto;
    height: auto;
    img {
      width: 13vw;
      height: 13vw;
    }
  }
}